html,
body {
    height: 100%;
    width: 100%;
    color: rgb(0, 110, 255);
    background-color: rgb(250, 250, 250);
    margin: 0;
    bottom: 0;
}

.navbar-brand {
    font-weight: bold;
}


/*--------------------Body content block--------------------*/

#pulseye-h1 {
    padding: 1em;
}

#pulseye-h4 {
    padding: .3em;
}

#card-history {
    margin-top: 5em;
    margin-bottom: 5em;
}

#network-list {
    margin-bottom: 5em;
}

#profile-form-container {
    padding-bottom: 45vh;
}

#profile-form {
    padding-bottom: 5em;
}


/*--------------------Card overlay code block--------------------*/


/* Container needed to position the overlay. Adjust the width as needed */

.overlay-container {
    position: relative;
}


/* Make the image to responsive */

.image {
    width: 100%;
    height: auto;
}


/* The overlay effect (full height and width) - lays on top of the container and over the image */

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 100, 0, 0.85);
    border-radius: 3em;
    overflow: hidden;
    width: 100%;
    height: 100%;
    transform: scale(0);
    transition: .3s ease;
}


/* When you mouse over the container, the overlay text will "zoom" in display */

.overlay-container:hover .overlay {
    transform: scale(1);
}


/* Some text inside the overlay, which is positioned in the middle vertically and horizontally */

.text {
    color: rgb(0, 183, 255);
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}


/*--------------------Footer block--------------------*/

footer {
    background-color: #3f3f3f;
    color: #d5d5d5;
    padding-top: 2rem;
    padding-bottom: 1rem;
    margin-top: 2rem;
    margin: 0;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}